# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
# Set to true for self-hosted Docker (disables Next.js image optimization server)
IMAGES_UNOPTIMIZED=true

# Database
MONGODB_URI=mongodb://localhost:27017/spin-wheel

# Session (iron-session)
IRON_SESSION_PASSWORD=replace_with_32_char_min_random_string

# Email
RESEND_API_KEY=re_xxxxxxxx

# OAuth (Google)
GOOGLE_CLIENT_ID=xxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxx
